---
title: Women's Football Matches
subtitle: "This is an open-source archive of women's football videos"
page_title: Home
page_css: "dummy.css"
content_class: dummy
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ page_title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="{{ page_css }}">
  </head>
  <body>
    <div class="page">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
      <div class="navigation">
        <a href='/'>Home</a> |
        <a href='/past-matches-international'>Past Matches (International)</a> |
        <a href='/past-matches-club'>Past Matches (Club)</a> |
        <a href='/help'>ℹ️ Help</a>
      </div>
      <div class="main">
        <div class="content {{ content_class }}">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </body>
</html>
