.club-competitions section {
  margin-top: 40px;
}

.club-competitions article {
  margin-top: 10px;
  margin-bottom: 0px;
}

.club-competitions summary::marker {
  font-size: x-large;
}

.club-competitions summary h3{
  display: inline-block;
  margin: 0px;
}

.club-competitions .club-competition-location {
  margin-bottom: 30px;
}

.club-competitions table {
  border: 1px solid gray;
  border-collapse: collapse;
  border-spacing: 0;
}

.club-competitions th {
  border: 1px solid gray;
  border-bottom-width: 2px;
  padding: 5px;
}

.club-competitions td {
  border: 1px solid gray;
  padding: 5px;
}
