.past-matches section {
  margin-bottom: 40px;
}

.past-matches article {
  margin-top: 20px;
  margin-bottom: 0px;
}

.past-matches summary::marker {
  font-size: large;
}

.past-matches summary h3{
  display: inline-block;
  margin: 0px;
}

.past-matches .past-matches-international-comp-level {
  margin-bottom: 30px;
}
