---
layout: layouts/main.njk
page_title: Club Competitions
page_css: "/assets/css/club-competitions.css"
content_class: club-competitions
---

<h2>Club Competitions</h2>

<p>This serves as a one-page reference of official stream/broadcast sources of club-level leagues and tournaments around the world. The sources here are ones verified by the contributor(s) of this website. It is by no means exhaustive. Additionally, only regular streams/broadcasts are included in this list--"regular" meaning that a website/broadcaster shows all or some matches from a league or tournament every week or every round.</p>

<p>For more complete, up-to-date, and round-by-round or per-match lists, please check <a href="https://www.womenssoccertv.info" target="_blank">Women's Soccer TV</a> or <a href="https://www.livesoccertv.com/" target="_blank">Live Soccer TV</a>.</p>

{% set uefa_locations = [
    ['_uefa', 'UEFA'],
    ['england', 'England'],
    ['france', 'France'],
    ['germany', 'Germany'],
    ['italy', 'Italy'],
    ['spain', 'Spain'],
    ['sweden', 'Sweden']
  ]
%}

<section>
  {% for loc_key, loc_name in uefa_locations %}
    <article>
      <details>
        <summary id='{{ loc_key }}'><h3>{{ loc_name }}</h3></summary>
        <div class='club-competition-location'>
          {% set location_content %}{% include './_partials/club-competitions/' + loc_key + '.md' %}{% endset %}
          {% markdown location_content %}
        </div>
      </details>
    </article>
  {% endfor %}
</section>

{% set afc_locations = [
    ['australia', 'Australia']
  ]
%}

<section>
  {% for loc_key, loc_name in afc_locations %}
    <article>
      <details>
        <summary id='{{ loc_key }}'><h3>{{ loc_name }}</h3></summary>
        <div class='club-competition-location'>
          {% set location_content %}{% include './_partials/club-competitions/' + loc_key + '.md' %}{% endset %}
          {% markdown location_content %}
        </div>
      </details>
    </article>
  {% endfor %}
</section>

{% set concacaf_locations = [
    ['usa', 'USA']
  ]
%}

<section>
  {% for loc_key, loc_name in concacaf_locations %}
    <article>
      <details>
        <summary id='{{ loc_key }}'><h3>{{ loc_name }}</h3></summary>
        <div class='club-competition-location'>
          {% set location_content %}{% include './_partials/club-competitions/' + loc_key + '.md' %}{% endset %}
          {% markdown location_content %}
        </div>
      </details>
    </article>
  {% endfor %}
</section>

<br />
<hr />
<p><a href="#">Back to Top</a></p>
<br />
