---
layout: layouts/main.njk
page_title: Past Matches - International Tournaments and Friendlies
page_css: "/assets/css/past-matches.css"
content_class: past-matches
---

<h2>Past Matches - International Tournaments and Friendlies</h2>

<p>This page contains download links or replay streams to past international matches.</p>
<p>Where possible, please check out the streams from official sources first so they know there is interest!</p>

<section>
  <article>
    <details>
      <summary id='world'><h3>World</h3></summary>
      <div class='past-matches-international-comp-level'>
          {% set world_content %}{% include './_partials/past-matches/international/world.md' %}{% endset %}
          {% markdown world_content %}
        </div>
    </details>
  </article>
</section>

{% set confederations = [
    ['uefa', 'UEFA'],
    ['afc', 'AFC'],
    ['caf', 'CAF'],
    ['conmebol', 'CONMEBOL'],
    ['concacaf', 'CONCACAF'],
    ['ofc', 'OFC']
  ]
%}

<section>
  {% for confederation_key, confederation_name in confederations %}
    <article>
      <details>
        <summary id='{{ confederation_key }}'><h3>{{ confederation_name }}</h3></summary>
        <div class='past-matches-international-comp-level'>
          {% set confederation_content %}{% include './_partials/past-matches/international/' + confederation_key + '.md' %}{% endset %}
          {% markdown confederation_content %}
        </div>
      </details>
    </article>
  {% endfor %}
</section>

<section>
  <article>
    <details>
      <summary id='finalissima'><h3>Finalissima</h3></summary>
      <div class='past-matches-international-comp-level'>
          {% set finalissima_content %}{% include './_partials/past-matches/international/finalissima.md' %}{% endset %}
          {% markdown finalissima_content %}
        </div>
    </details>
  </article>
</section>

<section>
  <article>
    <details>
      <summary id='friendlies'><h3>Friendlies</h3></summary>
      <div class='past-matches-international-comp-level'>
          {% set friendlies_content %}{% include './_partials/past-matches/international/friendlies.md' %}{% endset %}
          {% markdown friendlies_content %}
        </div>
    </details>
  </article>
</section>

<section>
  <article>
    <details>
      <summary id='shared-download-mirrors'><h3>Shared Download Mirrors</h3></summary>
      <div class='past-matches-international-comp-level'>
          {% set mirrors_content %}{% include './_partials/past-matches/shared-download-mirrors.md' %}{% endset %}
          {% markdown mirrors_content %}
        </div>
    </details>
  </article>
</section>

<br />
<hr />
<p><a href="#">Back to Top</a></p>
<br />
